body{
    background-color: #E9E9E7;
}

.logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 75px;
    font-weight: bold;
    margin-left: 55px;
    color:  #0c141c;
}
.logo-foot{
    font-family: 'Orbitron', sans-serif;
    font-size: 75px;
    font-weight: bold;
    color:  #0c141c;
    text-align: center;
}

.container-fluid{
    background-color: #9BB7D4;
    padding: 15px;
}

.img-fluid{
    padding-top: 5px;
}

.but{
    margin-top: 5px;
    margin-right: 10px;
}

.search-bar{
    margin-top: 30px;
    margin-left: 10px;
}

.me-2{
  border: 2px solid #0c141c;
  border-radius: 0px;
  width: 900px;
  outline: none;
  color: #9DBFAF;
}

.search-but{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: -20px;
    padding-bottom: -20px;
    background-color: #0c141c;
    color: white;
    border: 3px;
}

.clear-but{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #E9E9E7;
    color: black;
    border: 3px;
    margin-left: -15px;
}

.filter{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 10px;
    margin-right: 3px;
    margin-left: -2px;
}

.display-prod{
    padding-top: 20px;
}
.status{
    margin-top: 30px;
}
.float-end{
    background-color: #0c141c;
    border-color: #0c141c;
}

.foot{
    background-color: #9BB7D4;
    padding: 40px;
}

.align-text-top{
    display: flex;
    flex-direction: column;
}

.contact{
    font-family: 'Raleway', sans-serif;
}

.support{
    font-family: 'Raleway', sans-serif;
}
.cp{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.pagination {
    display: inline-flex;
    justify-content: center;
    position: relative;
    right: 15%;
    padding: 10px;
}
  
.pagination li {
    display: block;
}

.page-link{
    padding-left: 20px;
    padding-right: 20px;
}

.log-text{
    text-align: center;
}

