
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

body{
    background-color: #E9E9E7;
}

.logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 75px;
    font-weight: bold;
    margin-left: 55px;
    color:  #0c141c;
}
.logo-foot{
    font-family: 'Orbitron', sans-serif;
    font-size: 75px;
    font-weight: bold;
    color:  #0c141c;
    text-align: center;
}

.container-fluid{
    background-color: #9BB7D4;
    padding: 20px;
}

.img-fluid{
    padding-top: 5px;
}

.but{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.search-bar{
    margin-top: 30px;
    margin-left: 30px;
}

.me-2{
  border: 2px solid #0c141c;
  border-radius: 0px;
  width: 1000px;
  outline: none;
  color: #9DBFAF;
}

.search-but{
    padding-left: 50px;
    padding-right: 50px;
    background-color: #0c141c;
    color: white;
    border: 3px;
}

.filter{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 10px;
    margin-right: 3px;
    margin-left: -2px;
}

.detailed_filter {
    background-color: tomato;
    margin: 20px 10px;
    padding: 20px;
}

.product_disp{
    background-color: tomato;
    margin: 20px 10px;
    padding: 20px;
    padding-right: 100px;
}

.page{
    padding-top: 20px;
}

.float-end{
    background-color: #0c141c;
    border-color: #0c141c;
}

.foot{
    background-color: #9BB7D4;
    padding: 40px;
}

.align-text-top{
    display: flex;
    flex-direction: column;
}

.contact{
    font-family: 'Raleway', sans-serif;
}

.support{
    font-family: 'Raleway', sans-serif;
}
.cp{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.pagination {
    display: inline-flex;
    justify-content: center;
    position: relative;
    right: 15%;
    padding: 10px;
}
  
.pagination li {
    display: block;
}

.page-link{
    padding-left: 20px;
    padding-right: 20px;
}

.log-text{
    text-align: center;
}






.form-con{
    margin-bottom: 10px;
	padding-bottom: 20px;
	position:relative;
}

.form-con label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-con input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-con textarea {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-con input:focus {
	outline: 0;
	border-color: #777;
}

.form-con.success input {
	border-color: #2ecc71;
}

.form-con.error input {
	border-color: #e74c3c;
}

.form-con.error select{
	border-color: #e74c3c;
}

.form-con.error textarea {
	border-color: #e74c3c;
}


.form-con small {
	color: #e74c3c;
	position: relative;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-con.error small {
	visibility: visible;
}

.form button {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}